<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>What's That Sound?.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C39A5091ED35A7700378BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39A5201ED35A7700378BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39A52B1ED35A7700378BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
